/*=== Layout ===*/
@media screen and (max-width: 1200px) {
  .shukran-layout {
    width: 103%;
  }
}
@media screen and (max-width: 1025px) {
  .shukran-layout {
    width: 100%;
  }
}
/*=== Header ===*/
.ps-form--search-mobile input {
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  /* .header--mobile .ps-search--mobile{
        position: absolute;
        top: 5px;
        width: 100%;
    } */
    .header .header__extra svg{
        color: #666;
        font-size: 25px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 1024px) {
  /* .header--mobile .ps-search--mobile{
        position: absolute;
        top: 5px;
        width: 100%;
    } */
    .header .header__extra svg{
        color: #666;
        font-size: 25px;
        margin-top: 8px;
    }
}

/*=== Banner Style ===*/
.ps-block--user-header .ps-block__right a {
  color: #000000;
}
.header .header__extra > i {
  color: #000000;
}
.header--standard .ps-block--user-header a:hover {
    color: #006c32 !important;
}
.ps-form--quick-search .form-control{
    font-size: 14px;
}
#homepage-5 .ps-home-banner .ps-section__center img{
    width: 100%;
    height: 385px;
    display: inline-block;
    object-fit: fill;
}
@media screen and (max-width: 768px){
    #homepage-5 .ps-home-banner .ps-section__center img{
        width: 100%;
        height: auto;
        display: inline-block;
        object-fit: fill;
    }  
}
#homepage-5 .ps-home-banner .ps-section__center .slick-dots li button{
    position: absolute;
    top: -35px;
}
@media screen and (max-width: 768px) {
    #homepage-5 .ps-home-banner .ps-section__center .slick-dots li button{
        position: absolute;
        top: -30px;
    }  
}
@media screen and (max-width: 576px) {
    #homepage-5 .ps-home-banner .ps-section__center .slick-dots li button{
        position: absolute;
        top: -25px;
    }  
}
#homepage-5 .ps-home-banner .ps-section__center .slick-dots li button:before{
    font-size: 13px;
    top: 0px;
}
#homepage-5 .ps-home-banner .ps-section__center .slick-dots li.slick-active button:before{
    color: #a9a9a9;
}
#homepage-5 .ps-home-banner .ps-section__center .slick-dots li button:hover:before{
    color: #a9a9a9;
}
@media screen and (max-width: 1024px){
    #homepage-5 .ps-home-banner .ps-section__center {
        max-width: calc(100% - 0px) !important;
    }
}
@media screen and (max-width: 768px){
    #homepage-5 .ps-home-banner .ps-section__center{
        max-width: 100% !important;
        height: auto;
    }
}
/*=== Campaign style ===*/
.ps-product--hot-deal .ps-product__header .ps-product__info .ant-progress-bg {
  background: #ed1c24;
  height: 15px !important;
  border-radius: 0px;
}
.ps-product--hot-deal
  .ps-product__header
  .ps-product__info
  .ant-progress-inner {
  border-radius: 0px;
}

/*=== Search Trending ===*/
.ps-block--categories-tabs .ps-tab-list a:hover i, .ps-block--categories-tabs .ps-tab-list a:hover span {
    color: #ed1c24;
}
.ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 0px !important;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
    padding: 0px 65px;
}
@media screen and (max-width: 1366px){
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
    padding: 0px 35px;
  }
}
@media screen and (max-width: 768px){
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
    padding: 0px 0px;
  }
}
.ant-tabs .ant-tabs-tab{
    padding-top: 0px;
}
.ant-tabs-content-holder .ant-tabs-content{
    padding: 0px 0px;
}
/*=== Category ===*/
#shop-now-home3 {
  padding: 16px 0px 20px 0px;
}
@media screen and (max-width: 1366px) {
  #shop-now-home3 {
    padding: 6px 0px 10px 0px;
  }
}

/*=== Cloth & Beauty ===*/
.ps-block--products-of-category .ps-block__slider a img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.ps-product .ps-product__actions li a i {
  color: #666;
}
.ps-product .ps-product__actions li a:hover i {
  color: #fff;
}
/*=== Footer ===*/
.widget_contact-us .widget_content h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 1366px) {
  .widget_contact-us .widget_content h3 {
    font-size: 22px;
  }
}
.widget_footer .widget_content p a {
  color: #666;
}
