* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#campaign {
  padding-top: 30px;
  background: #f9efee;
}
.campaign-banner-area {
  background: linear-gradient(180deg, #f9efee, #f4f5f5);
  height: 60rem;
  /* background: crimson; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media screen and (max-width: 1440px){
  .campaign-banner-area {
    height: 50rem;
  }
}
.campaign-banner-area h1 {
  text-align: center;
  text-transform: uppercase;
  /* position: absolute; */
  color: #eb3e32;
  /* top: 50%;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.spinner1 {
  position: absolute;
  top: 0;
  left: -16%;
  width: 32%;
  animation: animate1 30s linear infinite;
}
.spinner2 {
  position: absolute;
  top: 0;
  right: -16%;
  width: 32%;
  animation: animate2 30s linear infinite;
}
@media screen and (max-width: 375px) {
  .spinner1{
    width: 35%;
  }
  .spinner2{
    width: 35%;
  }
}
.banner-center {
  position: absolute;
  width: 32%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .banner-center {
    width: 40%;
    top: -20px;
  }
}
@media screen and (max-width: 425px) {
  .banner-center {
    width: 45%;
    top: -20px;
  }
}
.banner-center h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 600;
}
.banner-center img {
  width: 100%;
}
/* .banner-border {
  position: absolute;
  width: 32%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */
@keyframes animate1 {
  0% {
    transform: rotate(-360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
}

.campaign-cards {
  background: #f4f5f5;
}
.campaign-cards .container {
  padding: 12rem 1.7rem 50px 1.7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9rem 3rem;
}
@media screen and (max-width: 1440px){
  .campaign-cards .container {
    padding: 2rem 1.7rem 50px 1.7rem;
  }
}
.campaign-card {
  width: 100%;
  height: fit-content;
  /* overflow: hidden; */
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 21px 36px;
  position: relative;
  z-index: 1;
}
.card-background-img {
  position: absolute;
  top: -120px;
  right: 0;
  z-index: -1;
}
.card-image-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  transition: all 0.3s linear;
  cursor: pointer;
}
.campaign-card:hover .card-inside {
  transition: all 0.3s linear;
  transform: scale(1.05);
}
.card-image-container {
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.campaign-card img {
  width: 100%;
  object-fit: cover;
}
.card-name {
  padding: 1rem 2rem;
  background: #fff;
  color: #000;
  border-radius: 0 0 15px 15px;
}
.card-name h6 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.ps-countdown-campaign {
  list-style: none;
  display: flex;
  position: absolute;
  top: -52px;
  right: 0;
}
.ps-countdown-campaign li {
  padding-top: 0;
  text-align: center;
  border-radius: 0 0 50px 50px;
  border-radius: 50px;
  position: relative;
  background: #f4f5f5;
  padding: 10px;
}
.ps-countdown-campaign li p {
  margin-bottom: 0;
}
.ps-countdown-campaign span {
  width: 40px;
  height: 40px;
  display: block;
  padding: 5px;
  color: #fff;
  background: linear-gradient(to bottom, #1a0201 50%, #eb3e32 50%);
  font-size: 20px;
  border-radius: 50%;
}
@media screen and (max-width: 1367px) {
  .campaign-banner-area {
    height: 60vh;
  }
}
@media screen and (max-width: 1280px) {
  .campaign-banner-area {
    height: 53vh;
  }
}
@media screen and (max-width: 1025px) {
  .campaign-banner-area {
    height: 46vh;
  }
  .campaign-banner-area h1 {
    font-size: 3rem;
  }
  .campaign-card .card-background-img {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .campaign-banner-area {
    height: 35vh;
  }
  .campaign-banner-area h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 577px) {
  .campaign-banner-area {
    height: 30vh;
  }
  .campaign-banner-area h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 541px) {
  .campaign-banner-area {
    height: 30vh;
  }
  .campaign-banner-area h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 520px) {
  .campaign-banner-area {
    height: 20vh;
  }
  .campaign-banner-area h1 {
    font-size: 2rem;
    /* margin-top: 50px; */
  }
  .campaign-cards .container {
    padding: 8rem 2rem 40px 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7rem;
  }
  .campaign-card {
    box-shadow: none;
  }
  .ps-countdown-campaign li {
    padding-top: 0;
    text-align: center;
    border-radius: 0 0 50px 50px;
    border-radius: 50px;
    position: relative;
    background: #f4f5f5;
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  .campaign-banner-area {
    height: 18vh;
  }
  .campaign-banner-area h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 376px) {
  .campaign-cards .container {
    padding: 7rem 2rem 30px 2rem;
  }
  .campaign-banner-area {
    height: 16vh;
  }
  .campaign-banner-area h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 361px) {
  .campaign-banner-area {
    height: 15vh;
  }
  .campaign-banner-area h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 321px) {
  .campaign-banner-area {
    height: 15vh;
  }
  .campaign-banner-area h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 281px) {
  .campaign-banner-area {
    height: 15vh;
  }
  .campaign-banner-area h1 {
    font-size: 1.7rem;
  }
}
